.outline{
    width: 45%;
}
.cart{
    border: 1px solid #e0b4c0;
    border-radius: 5px;
    width: 100%;
}
.titleCart{
    background-color: #d5a1af;
    color: white;
    font-weight: 600;
    padding: 10px 2%;
}
.tableCare{
    width: 95%;
    padding: 0px 3%;
    border-collapse: collapse;
    margin-top: 30px;
    margin-left: 2%;
}
 td {
    padding-left: 20px;
    padding: 10px;
    text-align: left;
    border-top: 1px solid black;
  }
  th{
    padding-left: 20px;
    padding: 10px;
    text-align: left;
  }
.inpquantity{
    width: 100%;
    height: 25px;
}
.inpquantityd{
    width: 3%;
}
.funcionBtn{
    display: flex;
    gap: 5px;
}
.btnedit{
    color: white;
    border: none;
    background-color: rgb(55, 123, 224);
    border-radius: 2px;
}
.btndel{
    color: white;
    border: none;
    background-color: rgb(247, 62, 62);
    border-radius: 2px;
}
.total{
    margin-top: 20px;
    margin-left: 2%;
    margin-bottom: 20px;
}
.totalP{
    display: flex;
    gap: 5px;
}
.totalProduct{
    font-weight: 600;
}